/**
 * The following styles get applied both on the front of your site
 * and in the editor.
 *
 * Replace them with your own styles or remove the file completely.
 */

.wp-block-blogga-blocks-top-bar {

	button.wp-block-search__button {
		border-radius: 0 5px 5px 0;
		padding-inline: 5px;
		padding-block: 0;
		margin: 0;
		background: #212121;
	}

	input.wp-block-search__input {
		border-radius: 5px 0 0 5px;
	}
}
